a {
  color: #444;
  font-weight: normal;
  text-decoration: underline;
}

p {
  margin: 0;
}

dt {
  float: left;
  font-weight: bold;
}

dd {
  margin-left: 180px;
}

h1 {
}

h2 {
  display: inline-block;
}

small {
  line-height: 35px;
  color: #7B8084;
}

input[type="text"] {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  padding: 8px;
  border: solid 1px #d1d5da;
  box-sizing : border-box;
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 16px;
  line-height: 1.6;
  padding: 8px;
  border: solid 1px #d1d5da;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing : border-box;
}

form {
  overflow: hidden;
  /* padding: 42px; */
  /* border: 2px solid #444; */
  /* border: 1px solid #d1d5da; */
}

label {
  cursor: pointer;
}

form input[type="submit"] {
  float: right;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  margin: 5px;
}

button, input[type="submit"], input[type="button"] {
  position: relative;
  padding: 6px 12px;
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  font-size: 14px;
  white-space: nowrap;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  box-sizing: border-box;
}

button.publish:disabled {
  opacity: 0.3;
  cursor: default;
  font-weight: normal;
}

button.publish {
  font-weight: bold;
}

button:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  border-color: rgba(27,31,35,0.5);
}

a.button, button.button {
  border-radius: 0;
  font-size: 16px;
  padding: 8px;
  border: solid 2px #444;
  text-decoration: none;
  margin-left: 20px;
  background-color: transparent;
  background-image: none;
  color: #444;
}

a.button:hover, button.button:hover {
  background-color: #edededb3;
}

.main {
  margin-bottom: 20px;
}

.dashboard .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .list {
  margin-bottom: 60px;
}

/* LIST OF ITEMS */

.list .item {
  /* border: 2px solid #444; */
  border: 1px solid #d1d5da;
  margin-bottom: 10px;
  overflow: hidden;
}

.list .item .header {
  padding: 12px;
  background-color: #444;
  color: #fff;
}

.list .item .content {
  padding: 12px;
}

.list .item .header .action {
  float: right;
}

.list .item .header .action a {
  color: #fff;
}

.incident .list {
  /* border: 2px solid #444; */
  border: 1px solid #d1d5da;
}

.incident .item {
  background-color: #F1F8FF;
  margin: 0;
  border: 0;
}

.flash {
  padding: 24px;
  width: 300px;
  text-align: center;
  position: absolute;
  top: 100px;
  right: 20px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  z-index: 998;
}

.flash.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/**
  LOADING
**/

.loading {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999;
  user-select: none;
  -moz-user-select: none;
}
.loading .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .content .message {
  margin-left: 20px;
}
.loading .content .message p {
  color: #fff;
  font-size: 22px;
  margin: 0;
}
.loading .content .message small {
  color: #fff6;
}
.loading .sk-cube-grid {
  width: 60px;
  height: 60px;
}

.loading .sk-cube-grid .sk-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.loading .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loading .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loading .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loading .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}

.loading .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loading .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}